<h1>Dashboard#index</h1>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Total Invoices</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.invoices_count %></td>
        <td><%= link_to "Show Invoices", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
