<h1>Invoice <%= @invoice.number %></h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h2>Import Items</h2>
<%= form_tag import_user_invoices_path(@user, number: @invoice.number), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

